In [ ]:
import math
import numpy as np
import re
import string
from collections import Counter
import statistics

In [ ]:
print("SOLVED EXAMPLE:")
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

SOLVED EXAMPLE:
Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------

In [ ]:
#1
x=[1,2,3,4,5,6,7,8,9,10]
Squres=[x**2 for x in x]
print(Squres)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#2
s=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def is_even(s):return s%2==0
def is_odd(s):return s%2!=0
even_sum=sum(filter(is_even,s))
odd_sum=sum(filter(is_odd,s))
print(even_sum)
print(odd_sum)

30
25

In [ ]:
#3
x = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_x1 = list(set(x))
print(unique_x1)

unique_x2 = list(dict.fromkeys(x))
print(unique_x2)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#4
list1=[64, 34, 25, 12, 22, 11, 90]
#sort_de=sorted(list1,reverse=True)
sort_de=sorted(list1)[::-1]
print(sort_de)

[90, 64, 34, 25, 22, 12, 11]

In [ ]:
#5
List=[15, 23, 31, 42, 56, 78, 91]
avg=math.fsum(List)/len(List)
print(avg)

avg1=sum(List)/len(List)
print(avg1)

avg2=statistics.mean(List)
print(avg2)

48.0
48.0
48

In [ ]:
#6
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)
fib_numbers = [fib(i) for i in range(10)]
print(fib_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#7
List=[45,67,23,89,12,34,78]

largest=max(List)
print(largest)
second_largest2=sorted(List)[-2]
print(second_largest2)

num=List.copy()
num.remove(max(num))
print(max(num))

89
78
78

In [ ]:
#8
List=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
rev=List[::-1]
print(rev)

rev1=list(reversed(List))
print(rev1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#9
List= [1, 5, 2, 5, 3, 5, 4, 5, 6]
Count_5=List.count(5)
print(Count_5)

4

In [ ]:
#10

In [ ]:
#11
List=[[1,2,3],[4,5,6],[7,8,9]]

flat_list = [item for sublist in List for item in sublist]
print(flat_list)

flat_list1=sum(List,[])
print(flat_list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#12
List1=[1, 2, 3, 4, 5]
List2=[4,5,6, 7, 8]
common_elements2=list(set(List1).intersection(List2))

common_elements1 = [x for x in List1 if x in List2]

print(common_elements1)
print(common_elements2)

[4, 5]
[4, 5]

In [ ]:
#13
List1=[[1,2],[3,4],[5,6]]
result1 = [item for sublist in List1 for item in sublist]
result2=sum(List1,[])
print(result1)
print(result2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [ ]:
#14
List=[[1,2,3],[4,5,6],[7,8,9]]
sum_of_sublists = [sum(sublist) for sublist in List]

sum_of_sublists1=sum(sum(sublist) for sublist in List)

sum_of_sublists2=list(map(sum,List))

print(sum_of_sublists)
print(sum_of_sublists1)
print(sum_of_sublists2)

[6, 15, 24]
45
[6, 15, 24]
45

In [ ]:
#15
List=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

transpose1 = [[List[j][i] for j in range(len(List))] for i in range(len(List[0]))]
print(transpose1)

transpose2=list(map(list,zip(*List)))
print(transpose2)

transpose3=np.transpose(List)
print(transpose3.tolist())

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
#16
List=[[1,5,3],[9,2,7],[4,8,6]]

nest_max=list(map(max,List))
print(nest_max)

nest_max1=max(nest_max)
print(nest_max1)

[5, 9, 8]
9

In [ ]:
#17
List=[
    [[1, 2], [3, 4]],
    [[5, 6], [7, 8]]
    ]
print(List)
D3_matrix=np.array(List)
print(D3_matrix)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [ ]:
#18
List=[
    [[1, 2], [3, 4]],
    [[5, 6], [7, 8]]
    ]
print(List)

D3_matrix=np.sum(List)
print(D3_matrix)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
36

In [ ]:
#19
List=[[1,2,3],[4,5,6],[7,8,9]]

array=np.array(List)
even_of_sublist=array[array%2==0]
print(even_of_sublist.tolist())

[2, 4, 6, 8]
[2, 4, 6, 8]

In [ ]:
#20
List=[1,'hello',3.14,True,[1,2,3]]

mix_data_types1=list(map(type,List))
print(mix_data_types1)

mix_data_types2=[type(x) for x in List]
print(mix_data_types2)

for i in List:
    print(type(i).__name__,end=',')

[<class 'int'>, <class 'str'>, <class 'float'>, <class 'bool'>, <class 'list'>]
[<class 'int'>, <class 'str'>, <class 'float'>, <class 'bool'>, <class 'list'>]
int,str,float,bool,list,

In [ ]:
#21
fruits = ["apple", "banana", "cherry", "date"]
#length of every string
length1=list(map(len,fruits))
print(length1)

length2=[len(x) for x in fruits]
print(length2)

[5, 6, 6, 4]
[5, 6, 6, 4]

In [ ]:
#22

In [ ]:
#23
list_1=[(1,'a'),(2,'b'),(3,'c')]
first_element=list(list(zip(*list_1))[0])
print(first_element)

first_element2=list(zip(*list_1))[0]
print(first_element2)

first_element1=[x[0] for x in list_1]
print(first_element1)

[1, 2, 3]
(1, 2, 3)
[1, 2, 3]

In [ ]:
#24
List1=[{'name': 'Alice', 'age': 25}]
List2=[{'name': 'Bob', 'age': 30}]
List3=List1+List2
print(List3)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [ ]:
#25
names=[n['name']for n in List3]
print(names)

['Alice', 'Bob']

In [ ]:
#26
def max_age(people):
    return people['age']

oldest_person=max(List3,key=max_age)
print(oldest_person)

def max_age1(people):
    return max(people,key=lambda x:x['age'])
oldest_person1=max_age1(List3)
print(oldest_person1)

{'name': 'Bob', 'age': 30}
{'name': 'Bob', 'age': 30}

In [ ]:
#27
List_4D=[
    [[[1,2],[3,4]],
     [[5,6],[7,8]]],
    [[[9,10],[11,12]],
     [[13,14],[15,16]]]
    ]
print(List_4D)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [ ]:
#28
Max_value_4D=max(
    num
    for block in List_4D
    for layer in block
    for row in layer
    for num in row
)
print(Max_value_4D)
#
flat_3d=[layer for block in List_4D for layer in block]
flat_2d=[row for layer in flat_3d for row in layer]
flat_1d=[num for row in flat_2d for num in row]
max_val=max(flat_1d)
print(max_val)
#
import itertools
flat = itertools.chain.from_iterable
max_val = max(flat(flat(flat(List_4D))))
print(max_val)

16
16
16

In [ ]:
#29
sets = [{1, 2}, {3, 4}, {5, 6}]
print(sets)

List=[1,2,3,4,5,6,7,8,9]
sets1=set(List)
print(sets1)

[{1, 2}, {3, 4}, {5, 6}]
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#30
sets = [{1, 2}, {3, 4}, {5, 6}]
union=set.union(*sets)
print(union)

union1=set()
for s in sets:
    union1=union1.union(s)
print(union1)
#

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [2]:
#31
Complex_list=[1+2j,3+4j,5+6j]
print(Complex_list)

[(1+2j), (3+4j), (5+6j)]

In [3]:
#32
magnitude_alt=list(map(abs,Complex_list))
print(magnitude_alt)

[2.23606797749979, 5.0, 7.810249675906654]

In [4]:
#33
nested_list=[1,[2,3],[4,[5,6],7],8]
print(nested_list)

[1, [2, 3], [4, [5, 6], 7], 8]

In [5]:
#34
def Count_depth(lst):
    if not isinstance(lst,list):
        return 0
    if not lst:
        return 1
    return 1+max(Count_depth(item) for item in lst)
depth=Count_depth(nested_list)
print(depth)

3

In [6]:
#35
Fun_list=[len,str,int,float]
print(Fun_list)

[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

In [10]:
#36
results = [func("123") for func in Fun_list]
print(results)

[3, '123', 123, 123.0]

In [11]:
#37
lambda_list = [lambda x: x*2, lambda x: x**2, lambda x: x+1]
print(lambda_list)

[<function <lambda> at 0x7b7b31659da0>, <function <lambda> at 0x7b7b31659b20>, <function <lambda> at 0x7b7b31659ee0>]

In [12]:
#38
results = [func(5) for func in lambda_list]
print(results)

[10, 25, 6]

In [13]:
#39
class_list = [list, dict, set, tuple]
print(class_list)

[<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [14]:
#40
list_instance=list()
dict_instance=dict()
set_instance=set()
tuple_instance=tuple()
instance=[list_instance,dict_instance,set_instance,tuple_instance]
print(instance)

[[], {}, set(), ()]

In [15]:
#41
None_list=[None,None,None]
print(None_list)

[None, None, None]

In [16]:
#42
None_replace_0=[0 if list in None_list else list for list in None_list]
print(None_replace_0)

[0, 0, 0]

In [17]:
#43
Bool_list=[True,False,True,False]
print(Bool_list)

[True, False, True, False]

In [18]:
#44
Count_t_f=Bool_list.count(True)
print(Count_t_f)

2

In [19]:
#45
range_list = [range(3), range(5), range(2)]
print(range_list)

[range(0, 3), range(0, 5), range(0, 2)]

In [20]:
#46
list_of_lists = [list(r) for r in range_list]
print(list_of_lists)

[[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [21]:
#47
gen_list = [ (x for x in range(3)), (x for x in range(5)) ]
print(gen_list)

[<generator object <genexpr> at 0x7b7b31655560>, <generator object <genexpr> at 0x7b7b31656a80>]

In [22]:
#48
gens_to_lists = [list(g) for g in gen_list]
print(gens_to_lists)

[[0, 1, 2], [0, 1, 2, 3, 4]]

In [23]:
#49
iter_list = [iter([1, 2, 3]), iter([4, 5, 6])]
print(iter_list)

[<list_iterator object at 0x7b7b31a2a320>, <list_iterator object at 0x7b7b31a28d60>]

In [24]:
#50
it_extracted = list(map(list, iter_list))
print(it_extracted)

[[1, 2, 3], [4, 5, 6]]