In [5]:
# Question 1: Create a tuple of first 10 natural numbers
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
len(tup)

10

In [7]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
ele = ('a', 'b', 'c', 'd', 'e')
ele[2]

'c'

In [8]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
ma = (23, 45, 12, 67, 34, 89, 56)
max(ma)

89

In [9]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
nu = (1, 5, 2, 5, 3, 5, 4, 5, 6)
nu.count(5)

4

In [19]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
tu = (25, 3.14, "Praveen", True)
tu

(25, 3.14, 'Praveen', True)

In [21]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
fin = ('java', 'python', 'c++', 'javascript')
fin[1]

'python'

In [25]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
ele = (10, 20, 30, 40, 50)
ele.count(25)

0

In [26]:
if 25 in ele:
    print("it's present")
else:
    print("it's not")

it's not

In [32]:
# Question 9: Create a tuple of first 5 even numbers
tup = tuple(range(2,11,2))
tup

(2, 4, 6, 8, 10)

In [36]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
last = (15, 23, 31, 42, 56, 78)
sum(last) / len(last)

40.833333333333336